streamlit==1.47.1
matplotlib>3.9.0
seaborn
pandas
numpy
scikit-learn
xgboost
tensorflow==2.16.1
keras==3.3.3
pillow
textblob
tweepy
python-dotenv
requests
beautifulsoup4
newspaper3k
mesa


